.env
clear.sh
# docker-compose.yml
build_info.txt
# prometheus/

## python specific
*.pyc

# my docker-compose.yml (use leter)
docker-compose.yml.my

# Kubernetes
.pem
.retry

# Terraform
.terraform
*.tfstate
*.backup
*.tfvars

#TLS Termination
*.crt
*.key

# Charts
*.lock
*.tgz

# Gitlab
Gitlab_ci/
